# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Build outputs
dist
build

# Env files
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/*.db
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# MinIO data
docker/data/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
